<form action="/settings" method="post">
  <label for="audioboo_username">AudioBoo Username</label>
  <input type="textfield" name="audioboo_username" id="audioboo_username"><%= @audioboo_username %></input>
  
  <label for="flickr_username">Flickr Username</label>
  <input type="textfield" name="flickr_username" id="flickr_username"><%= @flickr_username %></input>
  
  <button type="submit">Submit</button>
</form>
