<div id="slider">
  <% @photos.each do |photo| %>
    <img src="<%= photo %>" />
  <% end %>  
</div>
<script type="text/javascript">
  var ticks = [<%= @ticks %>];
</script>
<p><%= @boo.urls['high_mp3'] %></p>
<h1><%= @boo.title %><h1>
