<div id="slider">
  <% @images.each do |image| %>
    <img src="<%= image %>" />
  <% end %>  
</div>
<script type="text/javascript">
  var ticks = [<%= params['ticks'] %>];
</script>
<p><%= @boo.urls['high_mp3'] %></p>
<h1><%= @boo.title %><h1>
