<div data-role="page"> 
  <div data-role="header">
    <h1>Audio Slideshow Creator</h1>
  </div>
  
  <div data-role="content">
    <p>Create and share audio slideshows with AudioBoo and Flickr</p>
    
    <form action="/boos/search" method="get">
      <label for="username">AudioBoo Username</label>
      <input type="textfield" name="username" id="username"/>
      <button type="submit">Go</button>
    </form>
    
    <form action="/boos/search" method="get">
      <label for="query">Search by tag</label>
      <input type="textfield" name="tag" id="tag" />
      <button type="submit">Search</button>
    </form>
  </div>
</div>
